$gray-100: #FBFAFF;
$gray-200: #F2F2F2;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #828282;
$gray-600: #4F4F4F;

// scss-docs-start color-variables
$blue:    #501FC1 !default;
$indigo:  #8456EC !default;
$purple:  #E87BF8 !default;
$pink:    #d63384 !default;
$red:     #E61445 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$body-color: #240D57;
$body-bg: #F6F2FF;

$main-gradient: linear-gradient(90deg, $indigo 24.2%, $purple 120.46%);

// base font family
$font-family-base: 'Helvetica';

$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .0625),
  2: ($spacer * .125),
  3: ($spacer * .1875),
  4: ($spacer * .25),
  5: ($spacer * .3125),
  6: ($spacer * .375),
  7: ($spacer * .4375),
  8: ($spacer * .5),
  9: ($spacer * .5625),
  10: ($spacer * .625),
  11: ($spacer * 0.6875),
  12: ($spacer * 0.75),
  13: ($spacer * 0.8125),
  14: ($spacer * 0.875),
  15: ($spacer * 0.9375),
  16: $spacer,
  17: ($spacer * 1.0625),
  18: ($spacer * 1.125),
  19: ($spacer * 1.1875),
  20: ($spacer * 1.25),
  21: ($spacer * 1.3125),
  22: ($spacer * 1.375),
  23: ($spacer * 1.4375),
  24: ($spacer * 1.5),
  25: ($spacer * 1.5625),
  26: ($spacer * 1.625),
  27: ($spacer * 1.6875),
  28: ($spacer * 1.75),
  29: ($spacer * 1.8125),
  30: ($spacer * 1.875),
  31: ($spacer * 1.9375),
  32: ($spacer * 2),
  33: ($spacer * 2.0625),
  34: ($spacer * 2.125),
  35: ($spacer * 2.1875),
  36: ($spacer * 2.25),
  37: ($spacer * 2.3125),
  38: ($spacer * 2.375),
  39: ($spacer * 2.4375),
  40: ($spacer * 2.5),
  41: ($spacer * 2.5625),
  42: ($spacer * 2.625),
  43: ($spacer * 2.6875),
  44: ($spacer * 2.75),
  45: ($spacer * 2.8125),
  46: ($spacer * 2.875),
  47: ($spacer * 2.9375),
  48: ($spacer * 3),
  49: ($spacer * 3.0625),
  50: ($spacer * 3.125),
  51: ($spacer * 3.1875),
  52: ($spacer * 3.25),
  53: ($spacer * 3.3125),
  55: ($spacer * 3.4375),
  56: ($spacer * 3.5),
  57: ($spacer * 3.5625),
  58: ($spacer * 3.625),
  59: ($spacer * 3.6875),
  60: ($spacer * 3.75),
  62: ($spacer * 3.875),
  65: ($spacer * 4.0625),
  68: ($spacer * 4.25),
  70: ($spacer * 4.375),
  72: ($spacer * 4.5),
  74: ($spacer * 4.625),
  75: ($spacer * 4.6875),
  76: ($spacer * 4.75),
  80: ($spacer * 5),
  85: ($spacer * 5.3125),
  90: ($spacer * 5.625),
  95: ($spacer * 5.9375),
  100: ($spacer * 6.25),
  102: ($spacer * 6.375),
  110: ($spacer * 6.875),
  120: ($spacer * 7.5),
  129: ($spacer * 8.0625),
  130: ($spacer * 8.125),
  160: ($spacer * 10),
  180: ($spacer * 11.25),
  190: ($spacer * 11.875),
  200: ($spacer * 12.5),
);


// buttons
$btn-border-radius: 1rem * .625;
$btn-font-weight: 700;
$btn-padding-y:   1rem;
$btn-padding-x:   1.3125rem;
$btn-line-height: 1rem * 1.125;

//headings
$headings-font-weight: 700;
$h1-font-size: 36px;